x-defaults: &defaults
  DB_HOST: postgres
  REDIS_HOST: redis
  DB_PORT: 5432
  

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  migrate:
    build: back
    environment:
      <<: *defaults
    env_file: .env
    command: alembic upgrade head
    volumes:
    - ./back/app:/app/app
    - ./back/alembic.ini:/app/alembic.ini
    depends_on:
      postgres:
        condition: service_healthy
    profiles: ["migrate"]
    
  backend:
    build: back
    container_name: backend
    env_file: .env
    environment:
      <<: *defaults
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: front
    container_name: frontend
    environment:
      VITE_API_URL: http://backend:8000/api
    ports:
      - "8000:80"
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:
